.anime {
  margin: 20px;
  padding: 10px;
}

.themes {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px;
  width: 100%;
  justify-items: center;
  justify-content: center;
  gap: 20px;
}

.theme-card {
  margin: 5px;
  padding: 5px;
}

.youtube-wrapper {
  display: flex;
  justify-content: space-around;
}

.episodes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}

.episode {
  padding: 10px;
}
